<div id="container-instructions">
    <h1>Instructions</h1>
    <hr>
    <div class="instructions well">
        <p>
          <ul>
            <li>In this experiment you will be asked to rate the similarity of certain words using a slider bar.</li>
            <li>One end of the slider will represent complete dissimilarity while the other end will represent complete similarity.</li>
            <li>On some trials, you will also be asked to guess how other people would respond.</li>
            <li>On those trials, you will see a section of the slider bar has been highlighted and will be asked to guess how many people out of a 100 would place their sliders inside that range.</li>
            <li>Please think carefully about each question.</li>
            <li>There are 270 trials in total and the task is expected to take you about 20 minutes.</li>
          </ul>
        </p>
    </div>
    <hr>
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
            </div>
            <div style="text-align:center">
                <center>
                    <button type="button" id="begin" value="begin" class="btn btn-success btn-lg continue">
                    Begin <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </center>
            </div>
        </div>
    </div>
</div>