<div align = "center">
  <br>
  <div>
  <b>On a scale of 1 to 5, how interested were you with the video?</b>
  <br>
  <br>
  Not interesting at all  <input id="interest" type="radio" name="interest" value="1">
  <input id="interest" type="radio" name="interest" value="2">
  <input id="interest" type="radio" name="interest" value="3">
  <input id="interest" type="radio" name="interest" value="4">
  <input id="interest" type="radio" name="interest" value="5">  Very Interesting

  <br>
  <br>
  <b>On a scale of 1 to 5, how much did you enjoy the video?</b>
  <br>
  <br>
  Did not enjoy at all  <input id="enjoy" type="radio" name="enjoy" value="1">
  <input id="enjoy" type="radio" name="enjoy" value="2">
  <input id="enjoy" type="radio" name="enjoy" value="3">
  <input id="enjoy" type="radio" name="enjoy" value="4">
  <input id="enjoy" type="radio" name="enjoy" value="5">  Enjoyed it very much
  <br>

  </div>

  <div id = "next" style = "text-align:center">
        <center>
          <div id = "error" class = "error initiallyHidden">
            Please finish filling out both answers before continuing.
            <br>
          </div>
            <button type = "button" id = "next" value = "next"
                    class = "btn btn-success btn-lg continue">
                Next
            </button>
        </center>
    </div><br>
</div>