<div align = "center">
    <br>
    <div id = "" class = "initiallyHidden">
        <b>Imagine an animal that doesn't exist, that no one else has ever imagined before. What does the animal look like?</b><br>Please write a short answer (1 to 3 sentences) in the space below. You will be able to move to the next activity once you have written enough.
<br><textarea id="explanation" rows="4" cols="50"></textarea><br><br>
    </div>
    <div id = "next" style = "text-align:center">
        <center>
            <button type = "button" id = "next" value = "next"
                    class = "btn btn-success btn-lg continue">
                Next
            </button>
        </center>
    </div><br>
</div>