<div align = "center">
<br>
Please read this math problem.
<br>

In a class in the school down the road, everyone plays basketball or football. In fact, 80% play basketball and 70% play football. What percentage play both games?
<br>

When you think about doing the math problem, how does it make you feel?
<br>

<input type="range" name="points" min="0" max="10">
<br>

<table>
  <tr>
    <td></td>
    <td>Strongly disagree</td>
    <td>Disagree</td>
    <td>Uncertain</td>
    <td>Agree</td>
    <td>Strongly agree</td>
  </tr>
  <tr>
    <td>I think I would enjoy exploring the math problem</td>
    <td><input id = "a1" type = "radio" name = "mathEnjoy" value = "1"></td>
    <td><input id = "a2" type = "radio" name = "mathEnjoy" value = "2"></td>
    <td><input id = "a3" type = "radio" name = "mathEnjoy" value = "3"></td>
    <td><input id = "a4" type = "radio" name = "mathEnjoy" value = "4"></td>
    <td><input id = "a5" type = "radio" name = "mathEnjoy" value = "5"></td>
  </tr>
  <tr>
    <td>I think I would find the math problem a little bit fascinating</td>
    <td><input id = "b1" type = "radio" name = "mathFascinating" value = "1"></td>
    <td><input id = "b2" type = "radio" name = "mathFascinating" value = "2"></td>
    <td><input id = "b3" type = "radio" name = "mathFascinating" value = "3"></td>
    <td><input id = "b4" type = "radio" name = "mathFascinating" value = "4"></td>
    <td><input id = "b5" type = "radio" name = "mathFascinating" value = "5"></td>
  </tr>
  <tr>
    <td>I think I would enjoy learning about the math problem because it is unfamiliar to me</td>
    <td><input id = "c1" type = "radio" name = "mathFamiliar" value = "1"></td>
    <td><input id = "c2" type = "radio" name = "mathFamiliar" value = "2"></td>
    <td><input id = "c3" type = "radio" name = "mathFamiliar" value = "3"></td>
    <td><input id = "c4" type = "radio" name = "mathFamiliar" value = "4"></td>
    <td><input id = "c5" type = "radio" name = "mathFamiliar" value = "5"></td>
  </tr>
  <tr>
    <td>I might enjoy discussing the math problem with someone else, for fun</td>
    <td><input id = "d1" type = "radio" name = "mathDiscuss" value = "1"></td>
    <td><input id = "d2" type = "radio" name = "mathDiscuss" value = "2"></td>
    <td><input id = "d3" type = "radio" name = "mathDiscuss" value = "3"></td>
    <td><input id = "d4" type = "radio" name = "mathDiscuss" value = "4"></td>
    <td><input id = "d5" type = "radio" name = "mathDiscuss" value = "5"></td>
  </tr>
  <tr>
    <td>I would like to find out more about the math problem</td>
    <td><input id = "e1" type = "radio" name = "mathFindMore" value = "1"></td>
    <td><input id = "e2" type = "radio" name = "mathFindMore" value = "2"></td>
    <td><input id = "e3" type = "radio" name = "mathFindMore" value = "3"></td>
    <td><input id = "e4" type = "radio" name = "mathFindMore" value = "4"></td>
    <td><input id = "e5" type = "radio" name = "mathFindMore" value = "5"></td>
  </tr>
</table>
<br>
<div id = "next" style = "text-align:center">
        <center>
            <button type = "button" id = "next" value = "next"
                    class = "btn btn-success btn-lg continue">
                Next
            </button>
        </center>
    </div><br>
</div>