<div align = "center">
  <br>
  <div style = "display: inline-block; text-align: left;">
  <div>
    <b>What is your gender?</b><br>
    Male&nbsp;<input id="gender" type="radio" name="gender" value="Male"><br>
    Female&nbsp;<input id="gender" type="radio" name="gender" value="Female"><br>
    Non-binary / third gender&nbsp;<input id="gender" type="radio" name="gender" value="NB"><br>
    Other&nbsp;<input id="gender" type="radio" name="gender" value="Other"><br>
  </div>
  <br>
  <div>
    <b>What is your age?</b><br>
    <input id = "age" type="number" name="age">
    <br>
  </div>
  <br>
  <div>
    <b>What language do you speak at home?</b><br>
    English&nbsp;<input id="language" type="radio" name="language" value="English"><br>
    Spanish&nbsp;<input id="language" type="radio" name="language" value="Spanish"><br>
    Another language&nbsp;<input id="language" type="radio" name="language" value="Other">
    <br>
    <br>
    What language do you feel most comfortable using?
    <br>
    <input type="text" id="languagetext">
    <br>
    <br>
    Are you fluent in more than one language?
    <br>
    Yes&nbsp;<input id="fluenttwo" type="radio" name="fluenttwo" value="Yes">
    No&nbsp;<input id="fluenttwo" type="radio" name="fluenttwo" value="No">
    <br>
  </div>
  <br>
  <div>
    <b> Imagine that this ladder pictures how society in the USA is set up.</b>
    <br><br>
    <img src="../static/images/ladder.png" alt="Ladder Image">
    <br>
    <b>(1)</b> At the top of the ladder are the people who are the best off. <br> They have the most money, the
highest amount of schooling and the best paid jobs.
<br><br>
<b>(2)</b> At the bottom are people who are the worst off – they have the least money, <br> little or no
education past primary school, no jobs, or jobs that no one want or that are poorly paid.
<br><br>
<b>(3)</b> Now think about your family. <b>Please tell us where you think your family would be on this ladder.</b>
<br> <br>
Rung&nbsp;10&nbsp;<input id="ladder" type="radio" name="ladder" value="10"><br>
Rung&nbsp;9&nbsp;<input id="ladder" type="radio" name="ladder" value="9"><br>
Rung&nbsp;8&nbsp;<input id="ladder" type="radio" name="ladder" value="8"><br>
Rung&nbsp;7&nbsp;<input id="ladder" type="radio" name="ladder" value="7"><br>
Rung&nbsp;6&nbsp;<input id="ladder" type="radio" name="ladder" value="6"><br>
Rung&nbsp;5&nbsp;<input id="ladder" type="radio" name="ladder" value="5"><br>
Rung&nbsp;4&nbsp;<input id="ladder" type="radio" name="ladder" value="4"><br>
Rung&nbsp;3&nbsp;<input id="ladder" type="radio" name="ladder" value="3"><br>
Rung&nbsp;2&nbsp;<input id="ladder" type="radio" name="ladder" value="2"><br>
Rung&nbsp;1&nbsp;<input id="ladder" type="radio" name="ladder" value="1"><br>
  </div>
  <br>
  <div>
    <b>In the past 3 months, how much of a problem did your family have because<br>you did not have enough money to buy things you/your family needs or wants?</b>
    <br>
    No problem at all&nbsp;<input id="problem" type="radio" name="problem" value="1"><br>
    Not much of a problem&nbsp;<input id="problem" type="radio" name="problem" value="2"><br>
    Something of a problem&nbsp;<input id="problem" type="radio" name="problem" value="3"><br>
    A somewhat serious problem&nbsp;<input id="problem" type="radio" name="problem" value="4"><br>
    A very serious problem&nbsp;<input id="problem" type="radio" name="problem" value="5"><br>

  </div>
  <br>
  <div>
    <b> What is your racial identity? (Select as many as apply.)</b><br>
    White&nbsp;<input id="race" type="checkbox" name="race" value="White"><br>
    Black or African American&nbsp;<input id="race" type="checkbox" name="race" value="Black"><br>
    American Indian, Eskimo, and Aleut&nbsp;<input id="race" type="checkbox" name="race" value="American Indian"><br>
    Asian and Pacific Islander&nbsp;<input id="race" type="checkbox" name="race" value="Asian"><br>
    Other race (please write here)&nbsp;<input id="race" type="checkbox" name="race" value="Other"> <input type="text" id="racetext"><br>

  </div>
  <br>
  <div>
    <b>What is your ethnicity?</b><br>
    Hispanic or Latino&nbsp;<input id="ethnicity" type="radio" name="ethnicity" value="Hispanic"><br>
    Not Hispanic or Latino&nbsp;<input id="ethnicity" type="radio" name="ethnicity" value="Not Hispanic"><br>
  </div>
  <br>

  <div id = "next" style = "text-align:center">
        <center>
            <button type = "button" id = "next" value = "next"
                    class = "btn btn-success btn-lg continue">
                Next
            </button>
        </center>
      </div><br>
</div>
</div>