<div align = "center">
  <br>
  <div id = "prompt1">
    <div><b>Imagine an animal that doesn't exist, that no one else has ever imagined before. What does the animal look like?</b>
    </div>
    <br>
    Imagine the answer to yourself right now, and we'll ask you to write your response later.
    <br>
    <br>
  </div>
  <div id = "prompt2">
    <div><b>Suppose you swallowed a pill that made you invisible. What would you do? Where would you go?</b>
    </div>
    <br>
    Imagine the answer to yourself right now, and we'll ask you to write your response later.
    <br>
    <br>
  </div>
  <div id = "prompt3">
    <div><b>Imagine an animal that doesn't exist, that no one else has ever imagined before. What does the animal look like?</b>
    </div>
    <br>
    Imagine the answer to yourself right now, and we'll ask you to write your response later.
    <br>
    <br>
  </div>
  <div id = "next" style = "text-align:center">
        <center>
            <button type = "button" id = "next" value = "next"
                    class = "btn btn-success btn-lg continue">
                Next
            </button>
        </center>
    </div><br>
</div>