<div align = "center">
  <br>
  <div style = "display: inline-block; text-align: left;">
  <div>
    <b>What is your gender?</b><br>
    Male&nbsp;<input id="gender" type="radio" name="gender" value="Male"><br>
    Female&nbsp;<input id="gender" type="radio" name="gender" value="Female"><br>
    Non-binary / third gender&nbsp;<input id="gender" type="radio" name="gender" value="NB"><br>
    Other&nbsp;<input id="gender" type="radio" name="gender" value="Other"><br>
  </div>
  <br>
  <div>
    <b>What is your age?</b><br>
    <input id = "age" type="number" name="age">
    <br>
  </div>
  <br>
  <div id = "checkboxes">
    <b> What is your racial identity? (Select as many as apply.)</b><br>
    White&nbsp;<input id="race" type="checkbox" name="race" value="White"><br>
    Black or African American&nbsp;<input id="race" type="checkbox" name="race" value="Black"><br>
    American Indian, Eskimo, and Aleut&nbsp;<input id="race" type="checkbox" name="race" value="American Indian"><br>
    Asian and Pacific Islander&nbsp;<input id="race" type="checkbox" name="race" value="Asian"><br>
    Other race (please write here)&nbsp;<input id="race" type="checkbox" name="race" value="Other"> <input type="text" id="racetext"><br>
  </div>
  <br>
  <div>
    <b>What is your ethnicity?</b><br>
    Hispanic or Latino&nbsp;<input id="ethnicity" type="radio" name="ethnicity" value="Hispanic"><br>
    Not Hispanic or Latino&nbsp;<input id="ethnicity" type="radio" name="ethnicity" value="Not Hispanic"><br>
  </div>
  <br>
  <div>
    <b>What language do you speak at home?</b><br>
    English&nbsp;<input id="language" type="radio" name="language" value="English"><br>
    Spanish&nbsp;<input id="language" type="radio" name="language" value="Spanish"><br>
    Another language&nbsp;<input id="language" type="radio" name="language" value="Other">
    <br>
    <br>
    What language do you feel most comfortable using?
    <br>
    <input type="text" id="languagetext">
    <br>
    <br>
    Are you fluent in more than one language?
    <br>
    Yes&nbsp;<input id="fluenttwo" type="radio" name="fluenttwo" value="Yes">
    No&nbsp;<input id="fluenttwo" type="radio" name="fluenttwo" value="No">
    <br>
  </div>
  <br>

  <br>

  <div id = "next" style = "text-align:center">
        <center>
            <button type = "button" id = "next" value = "next"
                    class = "btn btn-success btn-lg continue">
                Next
            </button>
        </center>
      </div><br>
</div>
</div>