<div align = "center">
  <br>
  <div>
    You will be shown <b>5 different written answers</b> that 5 different people have written in response to a question.<br>
    When you click "Next", you <b>will see the responses,</b> along with the question they answered.<br>
    <br>
    We need you to <b>rank these responses</b> from most creative to least creative.
    <br><br>
    Please click "Next".
    <br>
    <br>
  </div>
  <div id = "next" style = "text-align:center">
        <center>
            <button type = "button" id = "next" value = "next"
                    class = "btn btn-success btn-lg continue">
                Next
            </button>
        </center>
    </div><br>
</div>